<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="/css/normalizer.css">
    <title>Home</title>
</head>

<body>
    <header class='main-header'>
        <div class='main-header-top-bar'>
            <img class='logo' src=".\images\logo-mercado-liebre.svg" alt="imagen logo">
            <h2 class='copy-header'><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>
        <a href="#" class='hamburguer-buton'><i class="fas fa-bars"></i></a>
        <nav class='main-navbar'>
            <ul class=' left-navbar '>
                <li><a href='# '>Ofertas</a></li>
                <li><a href='# '>Tiendas Oficiales</a></li>
                <li><a href='# '>Vender</a></li>
                <li><a href='# '>Ayuda</a></li>
            </ul>
            <ul class='right-navbar '>
                <li><a href='# '>Creá tu cuenta</a>
                    <i class="far fa-id-card"></i>
                </li>
                <li><a href='# '>Ingresá</a>
                    <i class="fas fa-sign-in-alt"></i>
                </li>
                <li><a href='# '>Mis compras</a>
                    <i class="fas fa-shopping-basket"></i>
                </li>
            </ul>
        </nav>

    </header>
    <form action="/crear-producto" method="POST" class="create-form">
        <div class="form-control">
            <label>Nombre del producto: </label>
            <input type="text" name="Nombre" class="control">
        </div>
        <div class="form-control">
            <label>Precio: </label>
            <input type="text" name="Precio" class="control">
        </div>
        <div class="form-control">
            <select name="categoria" class="control">
                <option value="hogar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentaria</option>
            </select>
        </div>
        <div class="form-control">
            <select name="ciudad" class="control">
                <option value="baires">Buenos Aires</option>
                <option value="ros">Rosario</option>
                <option value="mdz">Mendoza</option>
            </select>
        </div>
        <div class="form-control">
            <label>Descripcion del Producto</label>
            <textarea name="descripcion" class="control"></textarea>
        </div>
        <div class="form-control">
            <label>Esta en oferta: </label>
            <input type="radio" name="enOferta ">
        </div>
        <button type="reset" class="form-button">Borrar</button>
        <button type="submit" class="form-button">Guardar</button>
        </form>
        <p>Lore dipisicing elit. Eius tenetur architecto porro quae et, vero vel eum ullam, minima dicta natus aspernatur
            aperiam dignissimos accusantium quis, ab voluptate. Sunt, officia. </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore consectetur inventore, deserunt aliquam rem natus eum
            beatae obcaecati error consequuntur voluptate reprehenderit quidem perferendis officia adipisci minus eligendi
            repudiandae vero? </p>
        <p>Labore ipsum dolor sit amet consectetur adipisici</p>
        <p>consectetur adipisicing elit. Labore consectetur inventore, deserunt aliquam rem natus eum beatae obcaecati error
            consequuntur voluptate reprehenderit quidem perferendis officia adipisci minus eligendi repudiandae vero? </p>
        <p>Labore ipsum dolor sit amet consectetur adipisici</p>
        <article class="product">
            <img src="..\images\img-samsung-galaxy-s10.jpg" alt="">
            <h2>Samsung S10</h2>
        </article>
        <article class="product">
            <img src="..\images\img-samsung-galaxy-s10.jpg" alt="">
            <h2>Samsung S10</h2>
        </article>
        <article class="product">
            <img src="..\images\img-samsung-galaxy-s10.jpg" alt="">
            <h2>Samsung S10</h2>
        </article>
        <article class="product">
            <img src="..\images\img-samsung-galaxy-s10.jpg" alt="">
            <h2>Samsung S10</h2>
        </article>
        </body>

</html>