:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris-oscuro: #666;
    --Gris-claro: #ebebeb;
    --Verde: #39b54a;
}

html {
    font-size: 62.25%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    background-color: var(--Gris-claro);
}

header {
    background-color: var(--Amarillo);
    padding: 2rem;
}

.logo {
    width: 50%;
    height: auto;
    margin: 1rem auto;
    padding: 1rem;
    justify-content: left;
}

.buscador {
    margin-left: 1rem;
}

h5 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

nav {
    display: none;
}

a {
    text-decoration: none;
    color: black
}

.burguer-menu {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    color: white;
}

.burguer-menu i {
    background-color: var(--Celeste);
    padding: 1rem;
    border-radius: 0.6rem;
    margin: 0.5rem;
}

.banner {
    width: 100%;
}

main {
    width: 90%;
    margin: auto;
}

section {
    text-align: center;
}

h3 {
    font-size: 2.4rem;
}

article {
    margin: 1rem 0;
    background-color: white;
    font-size: 1.6rem;
    font-weight: bold;
}

img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.descripcion-articulo {
    border-top: 1px solid #ebebeb;
    padding: 2rem;
    text-align: left;
}

.precio {
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0;
}

.oferta {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--Verde);
    margin: 0;
}

.descripcion {
    display: none;
}

.camion {
    font-size: 2rem;
    padding: 1rem;
    color: var(--Verde);
}

footer {
    background-color: white;
    padding: 5rem;
}

footer i {
    font-size: 3.2rem;
    color: blue;
    margin-bottom: 1rem;
    margin-top: 5rem;
}

@media (min-width: 361px) {
    .descripcion {
        display: block;
    }
    .burguer-menu {
        display: none;
    }
    nav {
        display: block;
    }
    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 769px) {
    .logo {
        width: 30%;
    }
}